// ===================================================ШРИФТЫ====================================================================================================================
@mixin thin {
	font-family: '', sans-serif;    
	font-weight: 100;
}
@mixin light {
	font-family: '', sans-serif;    
	font-weight: 300;
}
@mixin reg {
	font-family: '', sans-serif;    
	font-weight: 400;
}
@mixin med- {
	font-family: '', sans-serif;
	font-weight: 500;
}
@mixin sem- {
	font-family: '', sans-serif;
	font-weight: 600;
}
@mixin bold- {
	font-family: '', sans-serif;
	font-weight: 700;
}
@mixin Pacifico {
	font-family: 'Pacifico', cursive, sans-serif;
	font-weight: 900;
}
@mixin Great {
	font-family: 'Great Vibes', cursive, sans-serif;
	font-weight: 600;
}
// ========ПРИМЕР=======
// @mixin reg-(сокращение от название) {
// 	font-family: 'Название шрифта', sans-serif;
// 	font-weight: ставим подходящие значение;
//		font-style: ставим подходящие значение;
// }

